<div class="header pure-u-1">
  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a class="pure-menu-heading" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <ul>
        <li><a href="/archives">Archives</a></li>
        <li><a href="mailto:manasgarg@gmail.com"><i class="fa fa-envelope"></i></a></li>
        <li><a href="https://www.linkedin.com/in/manasgarg"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="/feed.xml"><i class="fa fa-rss"></i></a></li>
    </ul>
  </div>
</div>
