---
layout: default
---
<div class="post content pure-u-1">

  <header class="post-header">
    <h1 class="title">{{ page.title }}</h1>
    <div class="seperator">
        <div class="meta"><em>{{ page.date | date: "%b %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}</em></div>
    </div>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

<footer class="post-footer pure-u-1">
    <figure class="author-image">
    <a class="img" href="/" style="background-image: url(/images/Manas.jpg)"></a>
    </figure>

    <form style="font-size:16px; float: right; text-align: right" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=FuzzySparkle', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
        <p style="font-weight: bold; margin-bottom: 0.5em;">Receive updates</p>
        <p>
            <input type="text" style="width:140px" placeholder="Your Email" name="email"/><input type="hidden" value="FuzzySparkle" name="uri"/><input type="hidden" name="loc" value="en_US"/><input type="submit" value="Subscribe" />
        </p>
    </form>

    <section class="author">
        <!-- Author Name -->
        <h4> Manas Garg </h4>
        <!-- Author Bio -->
        <p> 
            I am curious about many things. Sometimes, I write about them.
        </p>
    </section>                
</footer>
